*{  
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    box-sizing: border-box;}


             
              /******BODY******/
body{
    
        background-image: url(../img/fondo2.png);
        background-repeat: no-repeat;
        background-size: cover;
    background-attachment:fixed;}

        /*******A******/

a {
    text-decoration : none/*sacar subrayado a los enlaces*/; color: darkred;
 }

h2{
  font-size: 30px;
  background-image: linear-gradient(yellow, red);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
  list-style: none;
   }

     
            /***FOOTER***/
footer{
  font-size: 20px;
text-align: center;}





 .h1__index{
    display: flex;
    top: 50px;
    left: 10px;
    color: #050505;
    font-size: 3rem;
    justify-content: center;
    background: linear-gradient(yellow,red);
    
    }


/************NAVEGACION*************/

.nav-bar{
  display: flex;
    margin-bottom: 50px;
  background-color: black;
align-items: center;
gap: 380px;
}

.menu li:hover {
  background-color: #00fd33;
}
              
          /******CARRUSEL******/

#carouselExampleIndicators{
  width: 20%;
  height: 20%;
  margin: 0% auto;
}

    /********VIDEO-1***********/
    .div_index-video_img{
      display: flex;
      justify-content: center;
      gap: 5px;
     
    }

 

/*********H2***********/



.h2-index{
  margin-top: 3rem;
  font-size: 7rem;	
  text-align: center;
  color: #1d86cc;
  border: solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}



    .boton1 {
  
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-top: 2rem;}


      .foto_index{
        width: 40%;
        height: 50%;
        margin-top: 1rem;
      }
      

    .boton2 {
        text-decoration: none;
        padding: 1rem;
        font-weight: 600;
        font-size: 2rem;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 0.6rem;
        border: 0.2rem solid #0016b0;
        margin-top: 2rem;}


/*********************************************************************************************************************/



    
     #grilla-tienda{
       display: grid;
       grid-template-areas:
       "header header header"
       "productos productos productos"
       "banner banner banner"
       "footer footer footer" ;
    
       grid-template-columns: repeat(3, 1fr);
       
     }
    
     #header-tienda{
       grid-area: header;
       display: flex;
       justify-content: space-around;
       align-items: center;
       background-color: black;
     }
    
     @media screen and (max-width: 992px){
       #header-tienda{
          flex-direction: column;
          margin-bottom: 2rem;
       }
     }
    
     .logo{
       width: 300px;
       height: 150px;
       opacity: 0.7;
     }
    
     #navegacion-tienda{
       display: flex;
       gap: 0.8rem;
     }
    
     @media screen and (max-width:767px){
       #navegacion-tienda{
          flex-direction: column;
       }
     }
    
     #navegacion-tienda li{
       background-color: black;
       padding: 0.4rem 0.4rem;
     }
    
    
    
     #productos-tienda{
       grid-area: productos;
     }
     #productos-tienda h2,
     #productos-tienda p {
       text-align: center;
       background-color: #ffee00;
       
     }
     p{
      background: linear-gradient(yellow,red);
      -webkit-background-clip: text;
      color: transparent; 
       font-size: 25px;
       text-align: center;
       
     }
    
     .padre-cards{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       row-gap: 1rem;
       justify-items: center;
       
     }
    
     @media screen and (max-width: 992px){
       .padre-cards{
          
          grid-template-columns: repeat(2,1fr);
          
       }
     }
    
     @media screen and (max-width:767px) {
       .padre-cards{
          display: flex;
          flex-direction: column;
          align-items: center;
       }
     }

    
     .card-tienda{
       width: 15rem;
       border: solid 4px rgb(228, 13, 13);
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 1rem;
       gap: 5px;
     }

     mark {
      background-image: linear-gradient(black, rgb(227, 240, 32)) ;
     }
    
    
     .card-tienda img{
    height: 12rem;
     }
    
     #caja_tienda{
       grid-area: banner;
       background-color: rgb(5, 5, 5);
       margin-top: 4rem;
       padding: 1rem;
     }
     
     #caja_tienda h2{
       text-align: center;
       ;
     }
    
     .caja_padre{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       justify-content: center;
       gap: 1rem;
     }
    
     @media screen and (max-width:992px) {
       .caja_padre{
    
       grid-template-columns: repeat(2,1fr) }
     }
    
     @media screen and (max-width:767px) {
       .caja_padre{
    
       grid-template-columns: 1fr }
     }
    
    .caja-caracteristicas{
       display: flex;
       flex-direction: column;
       align-items: center;
       
    }


    /************************************************************/






.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: rgb(238, 10, 10);
  height: 50;
  padding: 0;
  font-size: 25px;
  opacity: 0.7;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 996px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


button{
  background-color: #000000;
  color: red;
  font-size: 20px;
}

.p_tienda{
  background-image: linear-gradient(to bottom, red,yellow);
}

.h2_tienda{
  margin-top: 15px;
}

#banner-tienda h2{
  margin-top: 15px;
}

/*************************************/

.ratio ratio-16x9{
  display: flex;
  justify-content: center;
}